body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    background-color: #C2DEDC;
    font-size: 1rem;
}
.navbar{
    background-color: #3AA6B9;
}
.nav-text{
    padding-right: 70px;
    text-align: right;
}
.top-container{
    background-color: #C2DEDC;
    position: relative;
    margin-top: 95px;
    padding-top: 100px;
    text-align: center;
}
.middle-container{
    background-color: #C2DEDC;
    padding: 100px 0 100px 0 ;
    text-align: center;
}
.bottom-container{
    background-color:#116A7B;
    padding: 30px 0 30px;
     text-align: center;
    line-height: 3;
    margin-bottom: 20px;
}
a{
    color: #11999E;
    font-family: 'Merriweather', serif;
    padding: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
hr{
    border: dotted grey 6px;
    width: 3%;
    border-bottom: none;
    margin: 70px auto;
}

.main-heading{
    
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.6rem;
    color: #116A7B
}
h2{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #116A7B
}
h3{
    
    font-family: 'Montserrat', sans-serif;
    color:#11999E
}
.bottom-cloud{
    position: absolute;
    left:200px;
    bottom: 300px;
}
.bottom-cloud:hover{
 height: 220px;
}
.top-cloud:hover{
    height: 220px;
}
.top-cloud{
    position: absolute;
    top: 70px;
    right: 200px;
}
.contact-me{
    width: 50%;
    margin: 10px auto 0px;
    line-height: 2;
}
.hello-row{
    width: 50%;
    margin: 50px auto 50px auto;
    line-height: 2;
}
.skill-row{
    width: 50%;
    margin: 50px auto 50px auto;
    line-height: 2;
}
.mern-image{
    width: 15%;
}
.webmaster-image{
    width: 15%;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
  }
  /* About page*/
  .vision{
    background-color: #C2DEDC;
    margin: 70px auto 0px auto;
    text-align: center;
    padding: 50px 0 50px;
  }
  .mission{
    background-color: #3AA6B9;
    margin: 0px auto 0px auto;
    text-align: center;
    padding: 50px 0 50px;
  }
  p{
    width: 50%;
    margin: 50px auto 50px auto;
    line-height: 2;
  }
  h1{
    font-family: 'Montserrat';
  }
  @media (max-width:1155px){
    .top-cloud{
        position: absolute;
        top: 70px;
        right: 30px;
    }
    .bottom-cloud{
        position: absolute;
        left:30px;
        bottom: 300px;
    }
    .vision{

        margin: 90px auto 0px auto;  
  }
  .navbar{
    padding-bottom: 2px;
}
}